body {
    margin: 0;
}

#global-main-div {
    background-color: red;
    border: 1px;
}

.bg-color-red {
    background-color: red;
}

.bg-color-gray {
    background-color: #d9d9d9;
}

.bg-color-blue-s {
    background-color: #6666ff;
}

.width-full {
    width:100%;
}

.height-header {
    height: 40px;
}

.height-360 {
    height: 360px;
}

.height-container-home {
    height: 360px;
}

.pos-float-left {
    float: left;
}

.header-link-div:hover {
  border-bottom: 4px solid rgba( 1, 1, 1, 0.2 );
}

.gifts-item-subdiv {
    background-color: #F9f9Ff;
}

.pos-float-right {
    float: right;
}
.gifts-item-main-div {
  float:left;
  width:50%
}

