{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <title>Project Vesper - {{ app_info['version'] }}</title>
 </head>
        <link href="index.css" media="screen" rel="stylesheet" type="text/css">
    <!-- Library code -->
        
            <!-- Load socket.io client side contents. -->
        <script src="/socket.io/socket.io.js"></script>
            <!-- Load the GUI rendering library code. -->
        <script type="text/javascript" src="lib/dat.gui.min.js"></script>
            <!-- Load the keyboard specific code --> 
        <script type="text/javascript" src="lib/keyboard.js"></script>
        
    <!-- Game code -->

            <!-- Load the common game code. -->
        <script type="text/javascript" src="game.core.js"></script>
            <!-- Finally, Load the game client code. -->
        <script type="text/javascript" src="client.js"></script>
    </head>
    <body>
        <div style="height:900px;">
            <span id="clock" style="border:1px solid black;">&nbsp;</span><br>
            <span id="clock-game" style="border:1px solid black;">&nbsp;</span>

            <div id="hex_map" style="border:1px solid black; height:320px; width:180px; display:block;">&nbsp;</div>



            <canvas id="viewport" style="display:none;">
            </canvas>
        </div>
    </body>
</html>

{% endblock %}
